*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    scroll-behavior: smooth;
}

:root {
    --maxWidthContent: 1200px;
    --primaryColor: #343746;
    --secondaryColor: #D56319;
    --linkColor: #D40000;
    --linkColorTwo: #ff6666;
    --brightColor: #ffffff;
    --darkColor: #000000;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    width: 100%;
    margin-bottom: 1rem;
    padding: 2.5rem 0 1rem 0;
    color: var(--primaryColor);
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid var(--primaryColor);
}

body {
    max-width: 100%;
    font-family: sans-serif;
    font-size: 1.4rem;
}

header {
    width: 100%;
    height: 100vh;
    position: relative;
    color: var(--brightColor);
    background-color: var(--primaryColor);
    background-image: url("../images/fire_border.png");
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 3;
}

#nav__fixed {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0;
    color: var(--brightColor);
    background-color: var(--primaryColor);
    box-shadow: 0px 10px 15px var(--darkColor);
    z-index: 2;
}

#nav__fixed .content {
    align-items: center;
    padding: 0 1rem;
}

#logo__fixed img {
    width: 70px;
}

#menu__header__fixed ul {
    display: flex;
    text-transform: uppercase;
}

#menu__header__fixed a {
    padding: 1rem;
    color: var(--brightColor);
    border-left: 3px solid transparent;
    border-top: 9px solid transparent;
    border-right: 3px solid transparent;
}

#menu__header__fixed a:hover {
    color: var(--linkColorTwo);
    border-left: 3px solid var(--linkColor);
    border-top: 9px solid var(--linkColor);
    border-right: 3px solid var(--linkColor);
    border-radius: 25px;
}

#menu__header__fixed__mobile {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 3rem 1rem;
    background-color: var(--primaryColor);
    font-size: 1.6rem;
}

#menu__header__fixed__mobile li {
    padding: 1rem 0;
    border-bottom: 1px solid var(--brightColor);
}

#menu__header__fixed__mobile li:last-child {
    padding: 1rem 0;
    border-bottom: 0;
}

#menu__header__fixed__mobile a {
    display: block;
    color: var(--brightColor);
}

#show__menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--brightColor);
    font-size: 40px;
    cursor: pointer;
}

#hide__menu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--brightColor);
    font-size: 40px;
    cursor: pointer;
}

nav {
    width: 100%;
    margin: 0 auto;
    padding: 1rem 1rem 2rem;
    text-align: center;
}

#logo img {
    width: 300px;
    margin: 2rem 0;
}

#menu__header {
    width: 100%;
    display: flex;
}

#menu__header ul {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#menu__header a {
    color: var(--brightColor);
    padding: 0.7rem 1rem;
    text-transform: uppercase;
    border-left: 3px solid transparent;
    border-top: 9px solid transparent;
    border-right: 3px solid transparent;
}

#menu__header a:hover {
    color: var(--linkColorTwo);
    border-left: 3px solid var(--linkColor);
    border-top: 9px solid var(--linkColor);
    border-right: 3px solid var(--linkColor);
    border-radius: 25px;
}

section {
    padding: 5rem 0;
}

.content {
    width: 100%;
    max-width: var(--maxWidthContent);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 1rem;
}

.left,
.right {
    width: 48%;
}

.card {
    width: 27%;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--brightColor);
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--primaryColor);
}

.card img {
    width: 40%;
    margin-right: 1rem;
    padding: 0 10px 70px 0;
    float: left;
    border-right: 3px solid var(--secondaryColor);
    border-bottom: 1px solid var(--secondaryColor);
}

.card h3 {
    margin-bottom: 10px;;
    padding: 0.5rem 0;
    color: var(--secondaryColor);
    font-size: 1.4rem;
}

.card h4 {
    margin-right: 5px;
    padding: 0;
    text-align: left;
    float: left;
}

#bebidas,
#porcoes,
#hamburguers,
#massas,
#sobremesas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sobre .content,
#espaco .content {
    display: flex;
    align-items: center;
}

#sobre .left {
    width: 30%;
}

#sobre .right {
    width: 70%;
}

#sobre p {
    margin: 2rem 0;
}

#sobre .left img {
    width: 90%;
    margin: 2rem auto 1rem auto;
}

#sobre img,
#espaco img {
    width: 100%;
}

#espaco img {
    margin-top: 20px;
    box-shadow: 15px -20px var(--primaryColor);
}

#contato .left {
    margin-top: 3rem;
}

#contato h3 {
    margin: 2rem 0 1rem;
}

#contato img {
    width: 100%;
}

#contato img:hover {
    opacity: 0.7;
    background-color: var(--primaryColor);
    z-index: 1;
}

#contato span {
    font-size: 1rem;
}

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: var(--brightColor);
    background-color: var(--primaryColor);
    font-size: 1rem;
    text-align: center;
}

footer a {
    color: var(--linkColor);
}

footer a:hover {
    color: var(--secondaryColor);
}

#logo__footer {
    width: 100%;
    margin: 2rem 0 1rem 0;
}

#logo__footer img {
    width: 20%;
}

#endereco {
    width: 100%;
    margin: 1rem 0;
}

#sociais {
    width: 100%;
    margin: 1rem 0;
}

#sociais img {
    width: 25px;
    margin: 0 1rem;
}

#copy {
    width: 100%;
    margin: 0.5rem 0;
}

#credits {
    width: 100%;
    margin: 0.5rem 0 1rem 0;
}

form {
    padding: 1rem;
}

form fieldset {
    padding: 1rem;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
}

form legend {
    padding: 0 1rem;
    text-align: center;
    text-transform: uppercase;
}

form input {
    width: 100%;
    margin: 0.5rem 0 1.5rem;
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
}

form textarea {
    width: 100%;
    height: 7rem;
    margin: 0.5rem 0 1.5rem;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    border: 1px solid var(--primaryColor);
    border-radius: 10px;
}

form button {
    padding: 1rem 2rem;
    color: var(--brightColor);
    background-color: var(--primaryColor);
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--linkColor);
}

@media(max-height: 860px){
        
    header {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        position: relative;
        color: var(--brightColor);
        background-color: var(--primaryColor);
        background-image: none;
        z-index: 3;
    }
}

@media(max-width: 830px){

    header {
        display: none;
    }

    #menu__header__fixed {
        display: none;
    }

    #logo__fixed {
        margin: 0 auto;
    }

    #show__menu {
        display: block;
    }

    .card {
        width: 45%;
    }

    #espaco .right img {
        margin-top: 4rem;
    }

    form {
        margin-top: 4rem;
    }
}

@media(max-width: 680px){

    .content {
        display: block;
    }

    .left,
    .right,
    .card {
        width: 100%;
    }

    #sobre .left {
        width: 100%;
    }
    
    #sobre .right {
        width: 100%;
    }

    #sobre .left img {
        width: 100%;
        margin: 2rem auto 1rem auto;
    }
}